.summary {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  padding: 32px;
  background: #d16f6f;
  border-radius: 24px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.summary-item:hover {
  transform: translateY(-5px);
}

.incomes {
  background: linear-gradient(
    to right,
    rgba(16, 185, 129, 0.1),
    rgba(5, 150, 105, 0.1)
  );
  backdrop-filter: blur(4px);
  border: 1px solid rgba(16, 185, 114, 0.2);
  color: #43b866;
}

.incomes-icon {
  background: rgba(16, 185, 129, 0.3);
  border: 1px solid rgba(16, 185, 114, 0.2);
}

.expense {
  background: linear-gradient(
    to right,
    rgba(185, 16, 16, 0.1),
    rgba(150, 5, 5, 0.1)
  );
  border: 1px solid rgba(185, 16, 16, 0.2);
  color: #a50916;
}
.expense-icon {
  background: rgba(185, 16, 16, 0.3);
  border: 1px solid rgba(185, 16, 16, 0.2);
}

.balance {
  background: linear-gradient(
    to right,
    rgba(16, 109, 185, 0.1),
    rgba(5, 85, 150, 0.1)
  );
  border: 1px solid rgba(27, 16, 185, 0.2);
  color: #0f42af;
}

.balance-icon {
  background: rgba(16, 83, 185, 0.3);
  border: 1px solid rgba(27, 16, 185, 0.2);
}

.summary-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.summary-amount {
  font-size: 36px;
  font-weight: 700;
  margin-top: 8px;
}

.summary-icon {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.summary-img {
  width: 40px;
  height: 100%;
}
