.filter-tab {
  width: 70%;
  padding: 32px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(168, 85, 247, 0.25),
    rgba(59, 130, 246, 0.15)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-tabs {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  padding: 6px;
  border-radius: 16px;
  position: relative;
}
.filter-line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.filer-button {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.active-tab {
  background: linear-gradient(to right, #ec4899, #a855f7);
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.5);
}

.filter-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-item {
  min-width: 70%;
  padding: 25px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(44, 23, 65, 0.25),
    rgba(29, 64, 119, 0.15)
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
}

.transaction-item:hover {
  transform: translateY(-5px);
}

.transaction-left {
  display: flex;
  gap: 20px;
}

.transaction-info-btm-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.transaction-info-bottom {
  display: flex;
  gap: 20px;
  font-size: 13px;
  color: #bdb0b0;
}

.transaction-info-img {
  width: 100%;
  height: 100%;
}

.transaction-info-icon {
  width: 20px;
  height: 20px;
}

.transaction-icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.transaction-img {
  width: 100%;
  height: 100%;
}

.transaction-info-description {
  font-size: 20px;
}

.transaction-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.transaction-buttons {
  display: flex;
  gap: 20px;
}

.transaction-amount {
  font-size: 25px;
}

.amount-incomes {
  color: #43b866;
}

.amount-expense {
  color: #ff0000;
}

.transaction-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.transaction-button:hover {
  transform: translateY(-5px);
}

.transaction-button-img {
  width: 30px;
  height: 30px;
}
