.form-card {
  width: 30%;
  padding: 32px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(168, 85, 247, 0.25),
    rgba(59, 130, 246, 0.15)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: white;
}

.form-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
  margin-top: 6px;
}

.form-button {
  padding: 12px 20px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.form-img {
  width: 20px;
  height: 100%;
}
.form-lable {
  text-transform: uppercase;
  color: #bdb0b0;
  font-size: 14px;
}

.form-button:hover {
  transform: translateY(-2px);
}

.expense {
  background: rgba(239, 68, 68, 0.25);
  border: 1px solid #ef4444;
  box-shadow: 0 0 15px rgba(239, 68, 68, 0.4);
}

.incomes {
  background: rgba(16, 185, 129, 0.25);
  border: 1px solid #10b981;
  box-shadow: 0 0 15px rgba(16, 185, 129, 0.4);
}

.form-input {
  width: 100%;
  padding: 14px;
  margin-top: 6px;
  margin-bottom: 18px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  outline: none;
  transition: 0.3s;
}

.form-option {
  background-color: #4c1d95;
  color: rgb(255, 255, 255);
}

.form-input:focus {
  border: 1px solid #a855f7;
  box-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

.search-container {
  display: flex;
  gap: 20px;
}

.search-button {
  width: 140px;
  padding: 12px;
  border-radius: 20px;
  border: none;

  background: linear-gradient(to right, #ec4899, #a855f7);

  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(236, 72, 153, 0.6);
}
